h2 {
  color: #003366; 
}

body {
  font-family: Arial;
  margin: 20px;
  line-height: 1.6;
  color: #160a0a;
}

p:first-of-type {
  margin-top: -5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #003366;
  width: 300px;
}

h3, h4, h5, h6, h7, h8 {
  font-family: 'Arial';
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  margin-top: 20px;
}

h3 + p, h4 + ul, h5 + p, h5 + ul {
  margin-top: 5px;
}


